nav{
    display:flex;
    justify-content: space-between;
}

.logo {
    display:flex;
    flex-direction: row;  
    justify-content: flex-start;
}
.box{
    height: 30px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
